<p><%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, :back, {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %></p><br>

<% if current_user.can_add_attachment? %>
  <%= form_for @ticket, :url => {:controller => :tickets, :action => :add_files} do |form| %>
    <%= form.label "Add files" %>
    <%= form.file_field :files, :multiple => true %>
    <p>
      <%= form.submit 'Submit', {class: "btn btn-info collapsed", :style => 'font-size: 14px; font-weight: bold; font-family: "Ubuntu"'} %>
    </p><br>
  <% end %>
<% end %>

<%= render 'attachments/file', attachments: @ticket.attachments%>
