<%= include_sync_config %>
<% if post.is_owned?(current_user) %>
  <div class="card-header-2" id = "posts" style='font-color: black; border:5px solid <%= post.get_color%>; margin-left:auto; margin-right: 20px;'>
<% else %>
	<div class="card-header-2" id = "posts" style='font-color: black; border:5px solid <%= post.get_color%>; margin-left: 20px;'>
<% end %>
  <fieldset >
  	<legend style="font-size: 20px; font-weight: bold; border-bottom: 5px solid <%= post.get_color%>">At <%= post.created_at.strftime("%d-%m-%Y %H:%M") %> <%= link_to post.user.full_name, user_path(post.user)%> wrote:</legend>
  </fieldset>
   <%= post.body %>
   <% post.attachments.each do |asset| %>
     <div style='display: inline-block; width: 100px; '>

       <% if asset.is_image?%>
         <a class="fancybox" rel="group" href='<%=asset.file.url%>' ><img src='<%=asset.file.url%>' height=100 width=100 alt="" /></a><%= link_to "Download", asset.file.url(:original, false), :target=> "_blank", :style => 'color:#0079bf; font-size: 18px; font-weight: bold'%><br>
       <% elsif asset.is_video?%>
         <%= video_tag asset.file.url, size: "100x100", controls: true, autobuffer: true, poster:"video.png" %>
         <%= link_to "Download", asset.file.url(:original, false), :target=> "_blank", :style => 'color:#0079bf; font-size: 18px; font-weight: bold'%><br>
       <% elsif asset.is_audio?%>
         <%= audio_tag asset.file.url, width: "100", controls: true %>
         <%= link_to "Download", asset.file.url(:original, false), :target=> "_blank", :style => 'color:#0079bf; font-size: 18px; font-weight: bold'%><br>
       <% else %>
         <%= link_to asset.file_file_name, asset.file.url, :target=> "_blank", :style => 'color:#0079bf; font-size: 15px; font-weight: bold', class: "glyphicon glyphicon-save"%>
       <% end %>
     </div>
   <% end %>
</div>
